.hero{
  min-height: 100vh;
  background-image: url(./images/gppspl.jpg) ;
  background-size: cover;
}
.df{
  display: flex;
}

.fdc{
  flex-direction: column;
}
.aic{
  align-items: center;
}
.jcc{
  justify-content: center;
}
.w100{
  width: 100%;
}
#standard-basic{
  width: 80vw;
}
.searcher{
  min-height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body{
  background-color: bisque  ;
}
.itinerariesSection{
display: flex;
flex-direction: column;
}
.citiesHeader{
  background-image:linear-gradient(to left, rgba(0,0,0,0.5),rgba(0,0,0,0.15)), url(../public/imagenes/headerBackground.jpg);
  background-position: center;
  background-size: cover;
  height: 15rem;
  border-radius: 0 0 3rem 3rem;
}
.inConstruction{
  min-height: 100vh;
  background-image: url(./images/inConstruction.gif);
  background-size: cover;
}
.link{
text-decoration: none;
}
.pngFooter{
  height: 7rem;
}
.cardCarousel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: .5rem;
  padding: 0;
  border-radius: 1rem;
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orangered;
  color: white;
}
.footer>div>a{
  text-decoration: none;
  color:black ;
  margin: .5rem;
  padding: .5rem;
  border-radius: .5rem 0 .5rem 0;
  background-color: white;
}
.footer>div{
  display: flex;
  flex-direction: column;

}
.mySwiper{
background-color: brown;
min-height: 13rem;
}
.imagenesCar{
  height: 10rem;
  width: 100%;
  border-radius: .5rem .5rem 0 0;
}
.divCarousel{
  min-height: 60vh;
  background-color: black;
}
.goToCities{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
background-image: url(./images/goToCities.jpg);
background-size: cover;
}
.goToCities>h2{
  background-color: rgba(255, 255, 255, 0.267);
  font-size: 2rem;
}
.cardSection{
  background-image:linear-gradient(to left, rgba(0,0,0,0.5),rgba(0,0,0,0.15)), url(../public/imagenes/cardSectionBackground.webp);
  padding: 2rem;
  border-radius: 3rem 3rem 0 0;
}
.cardCities{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cardCities>*{
  margin: 1rem;
}
.buttonInvitation{
  height: 2rem;
  width: 7rem;
  color: white;
  background-color: orange ;
  border-radius: .5rem;
}
.logo{
  height: 6rem;
}
.hero>h1{
  text-shadow: 1px 1px 2px black;
}
.inConstruction>h1{
  text-shadow: 1px 1px 2px black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}